.navBarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: palevioletred;
    padding: 12px;
    margin: 0;
    color: white;
}

.navRight {
    display: flex;
    align-items: center;
}

.navBtn {
    margin: 4px;
    background-color: transparent;
    color: white;
    border: 0;
    padding: 8px 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 2%;
    font-weight: bold;
}

.navBtn:hover {
    background-color: pink;
}

/* ----- popup ---- */

.notificationFrame {
    width: 300px;
    height: 500px;
    border: solid gray;
    border-radius: 10%;
    background-color: gray;
    position: fixed; 
    top: 35%;
    right: 5%;
    transform: translate(-50%, -50%);
    display: none; 
    z-index: 1000;
}

.exitNotification {
    border: solid 3px white;
    color: white;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer; 
}

.messages {
    margin-top: 80px;
    height: 360px;
    background-color: aliceblue;
    padding: 10px;
    overflow-y: auto;
    border-radius: 5px;
}

.message {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.logo {
    font-family: "Winky Sans", sans-serif;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 50px;
    color: palevioletred;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    border-top: 1px solid #ccc;
}

.footerLeft {
    display: flex;
    align-items: center;
    
}

.footerRight {
    margin-right: 12px;
}

.footerBtn {
    margin: 4px;
    background-color: transparent;
    color: palevioletred;
    border: 0;
    padding: 8px 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 2%;
    font-weight: bold;
}
